<div>
  <h1>Mensaje en tiempo real y con mongo</h1>
  <div>
    <input id="userName" type="name" placeholder="usuario">
    <input id='chatBox' type="text" name="chatBox" placeholder="Deje su mensaje...">
  </div>
  <div>
    <p id="messageLogs"></p>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>