<main>
    <div>
        <p>Se le enviara un correo electronico con un link para recuperar su contraseña</p>
    </div>
    <form id="formPassword">
        <input type="text" name="email" placeholder="Ingrese su mail">
        <button type="submit" class="btn btn-outline-dark">Restablecer Contraseña</button>
    </form>
</main>
<script src="/js/forgot.js"></script>