<main class="conteiner">
    <div class="conteiner-login">
        <div class="conteiner-img">
            <img class="nike-logo" src="https://sportfutura.net/cdn/shop/collections/NIKE.jpg?v=1663448965"
                alt="img-nike">
        </div>
        <div class="conteiner-form">
            <h1 class="login">Login</h1>
            <form id="loginForm">

                <input name="email" placeholder="Email">
                <input name="password" type="text" placeholder="Contraseña">

                <input class="btn btn-outline-dark" type="submit">
            </form>
            <a class="btn btn-outline-dark" href="/api/sessions/github">GitHub <i class="fa-brands fa-github"></i></a>
            <p>¿No estas registrado? <a href="/views/register">Registrate Aquí </a></p>
            <p>Olvidaste la Contraseña?</p> <a href="/views/forgot">haz click aqui</a>
        </div>

    </div>
</main>

<script src="/js/login.js"></script>