<main class="conteiner-login">
    <div class="section-login">
        <div class="conteiner-img">
            <img class="nike-logo" src="/assets/nike-icono.svg" alt="img-nike">
        </div>
        <div class="conteiner-form">
            <h1 class="login">Login</h1>
            <form id="loginForm">

                <input name="email" placeholder="Email" >
                <input name="password" type="password" placeholder="Contraseña">

                <input class="btn btn-outline-dark" type="submit">
            </form>
            <a class="btn btn-outline-dark" href="/api/sessions/github">GitHub <i class="fa-brands fa-github"></i></a>
            <p>¿No estas registrado? <a href="/views/register">Registrate Aquí </a></p>
            <p>Olvidaste la Contraseña? <a href="/views/forgot">haz click aqui</a></p> 
        </div>

    </div>
</main>

<script src="/js/login.js"></script>