<body>
    <nav class="conteiner-navbar">
        <p><a class="home" href="/views/products">Inicio</a></p>
        <h2 class="welcome">Bienvenido, {{user.first_name}} {{user.last_name}}</h2>

        <div>
            {{#if user.cart}}
            <a href="/views/cart/{{user.cart}}"><button class="btn btn-outline-light">Carrito</button></a>
            {{/if}}
            <a href="/api/sessions/logout"><button class="logout btn btn-outline-light">Logout</button></a>
        </div>
    </nav>
    <section>
        <h1 class="text-center p-5" >Su Compra se realizo Exitosamente</h1>
        <h2 class="text-center pb-2">Le llegara un correo electronico con los datos de su compra</h2>
        <p class="text-center p-2">Esperamos verlo nuevamente!</p>
    </section>
    <footer class="footer">
        <div class='footer-body'>
            <div class='footer-ayuda'>
                <p class='footer-title-ayuda'>Ayuda</p>
                <p>Envios y entregas</p>
                <p>Devoluciones</p>
                <p>Cambios</p>
                <p>Autogestionar mi devolucion</p>
                <p>Opciones de pago</p>
                <p>Contactate</p>
            </div>
            <div class='footer-acerca'>
                <p class='footer-title-acerca'>Acerca de Nike</p>
                <p>Noticias</p>
                <p>Inversinistas</p>
                <p>Sustentabilidad</p>
            </div>
            <div class='footer-redes'>
                <p class='footer-title-redes'>Redes Sociales</p>
                <p>Instagram</p>
                <p>Facebook</p>
                <p>Twitter</p>
                <p>Youtube</p>
            </div>
        </div>
        <div class='footer-pie'>
            <div class='footer-ubicacion'>
                <p>Argentina</p>
            </div>
            <div class='footer-terminos'>Terminos y condiciones</div>
        </div>
    </footer>
</body>