<main class="conteiner">
    <div class="conteiner-register">
        <div class="conteiner-img">
            <img class="nike-logo" src="https://sportfutura.net/cdn/shop/collections/NIKE.jpg?v=1663448965"
                alt="img-nike">
        </div>
        <div>
            <h1>Registro</h1>
            <form id="registerForm">

                <input id="first_name" name="first_name" placeholder="Nombre">
                <input id="last_name" name="last_name" placeholder="Apellido">
                <input id="email" name="email" placeholder="Email">
                <input id="password" name="password" placeholder="Contraseña">
                <input  class="btn btn-outline-dark" type="submit">

            </form>
            <p>¿Ya tienes una cuenta? <a href="/views/login">Ingresa aquí</a></p>
        </div>

    </div>
</main>
<script src="/js/register.js"></script>