<form method="post" action="/api/restorePassword">
    <h1>Restaurar contraseña</h1>
    <input type="hidden" name="token" value="{{token}}" required>
   <input type="password" id="newpassword" name="newpassword" placeholder="Nueva contraseña" required>
    <button type="submit" class="btn btn-outline-dark">Restablecer contraseña</button>
</form>